.checkout{

    display: inline-block;
    float: left;
    width: 100%;
    padding: 45px 0;
    }
    
    .checkout h2{
    
    font-size: 22px;
    font-weight: 700;
    color:#222;
    border-bottom: 1px solid;
    padding-bottom: 15px ;
    margin-bottom: 15px;
    text-transform: uppercase;
    
    }
    .checkout-inner{
    
        width:70%;
        float:left;
        border-right: 1px solid #c5c5c5;
        padding-right: 25px;
    
    }
    .checkout-form-steps{
    width:100%;
    padding :15px;
    display:inline-block;
    
    }
    .checkout-form-steps h4{
    
    font-size:18px;
    font-weight:700;
    border-bottom:1px solid;
    color:#ff9800;
    padding-bottom:15px;
    margin-bottom: 25px;
    }
    
    .checkout-form-steps .textfield{
    
        width:100%;
        height: 45px;
        border-radius: 4px;
        border: 2px solid#d0d0d0;
        margin-bottom: 15px;
        padding:10px;
        font-size:15px;
    
    }
    .checkout-form-steps .textfield:focus, .checkout-form-steps label:hover{
    
        border-color: #ffa800;
    }
    
    .checkout-form-steps label{
    
        width:100%;
        float: left;
        border: 2px solid #d0d0d0;
        border-radius: 4px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 15px;
    
    }
    .submitorder-button{
    
    width:300px;
    height: 50px;
    margin:15px;
    border-radius: 4px;
    float:right;
    font-size: 22px;
    color:#fff;
    border:none;
    font-weight: 600;
    background-color: #ffa800;
    
    
    }
    
    
    
    
    
    .orderlist{
    
        width:28%;
        float:right;
    
    }
    .orderlist h3{
        font-size: 18px;
        padding: 15px 0;
        line-height: 22px;
    }
    .orderlist p{
    
        padding: 15px 10px;
        background-color: #00000010;
        font-size: 18px;
        border-bottom: 1px solid #00000020;
    
    
    }
    .orderlist p span{
    
    float:right;
    
    }
    .orderlist .textfield{
    
    width:100%;
    height:45px;
    padding: 15px;
    border-radius: 4px;
    margin: 15px 0;
    border: 1px solid #00000040;
    font-size: 16px;
    
    }
    .orderlist .applycode-button{
    
    width: 100%;
    height: 45px;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 25px;
    border: none;
    font-size: 16px;
    background-color: #ffa80050;
    
    
    
    }