*{
    box-sizing: border-box;
}
body{
    font-family: verdana,sans-serif;
}
.mySlides{
    display: none;
}
img{
    vertical-align: middle;
}
.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(3, 115, 126);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgb(250, 116, 176);
}
.text{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}
.numbertext{
    color: aliceblue;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes .fade{
    form {opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from {opacity: .4;}
    to{opacity: 1;}
}

/*  responsive  */
@media only screen and (max-width:300px){
    .prev, .next, .text{
        font-size: 11px;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
}

@media only screen and (max-width:500px){
    .prev, .next, .text{
        font-size: 14px;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
}





