body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    background: #1e0e01;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #1DC4E7;
}

.logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.right_area .logout_btn:hover{
    background: #26e4be;
}

.sidebar{
    background: #471509;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #19B3D3;
}

.sidebar a.active{
    background: #f05907;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
    padding-right: 0;
    padding-top: 20px;
}

/*.content{
    margin-left: 250px;
    background: url(adminbg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}*/

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

/*today*/

.container{
    position: fixed;
    right: 0;
    top: 3rem;
    width: 80vw;
    height: 100vh;
}

.container .content{
    margin-top: 10vh;
    min-height: 90vh;
    background: url(../images/adminbg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: #fff;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.container .content .cards .card .icon-design img{
    width: 100px;
    height: 120px;
}

.container .content .content-ii{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

